body{
    text-align: center;
}


div{
    height:50px;
    width:150px;
    border:2px solid black;
   


}
.container{
    height:600px;
    width:600px;
    border:3px solid  black;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;


}
#box1{
    background-color: red;
}
#box2{
    background-color: greenyellow;
}
#box3{
    background-color:skyblue;
}
#box4{
    background-color: brown;
}
#box5{
    background-color: pink;
}