@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,,900&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'poppins',sans-serif;



}
body{
    background-color: rgb(161, 241, 241);
    margin: 0 70px 0 70px;
    
}

ul{
    background-color: aliceblue;
    margin-top:-50px;

}
ul li{
    list-style-type: none;
}
.title{
    text-transform: uppercase;
    color:rgb(80, 73, 73)
}

.college_Info{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    border-radius: 2px solid;
    height:300px;
    border-bottom: 2px solid black;
}
.college_Info .left_section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.college_Info .left_section h1{
    font-size: 2em;
    font-weight: 650;
}
.left_section img{
    position: relative;
    width:100px;
    height:100px;
    border-radius: 50%;
    overflow:hidden;
    padding-right:10px ;

}
/* right section */
.right_section h2{
    font-family: 30px;
    font-weight: 600;
}
/* frome name */
.frome_name .title{
    margin-top:30px;
    margin-left: 60px;
    font-size: 30px;
    font-weight: 300;

}
/* basic info */
.basic_info{
   margin: 60px;
}
.heading{
    display: flex;
    align-items: center;
    height: 50px;
    margin:30px 54px  54px;
    
    background-color: #c3cad84d;
}
.heading span{
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}
/*  */
/* student name  */

.std_info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info p{
    font-size: 11px;
    padding:5px 5px;
}
#midle_name .input_box {
    margin-top: 27px;
}
#last_name .input_box{
    margin-top: 27px;
}
.input_box{
    height: 40px;
    width: 20vw;
    border:1px solid #ccc;
    border-radius: 4px;
    font-style: italic;
    background-color: aliceblue;
    color:black;
}
/* student number and year */
.student_year
{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-top: 20px;
}
.student_year .input_box{
    height: 40px;
    width: 34vw;
    border:1px solid #ccc;
    border-radius: 4px;
    font-style: italic;
    background-color: aliceblue;
    color:black;
    

}
.student_year select{
    height: 40px;
    width: 34vw;
    border:1px solid #ccc;
    border-radius: 4px;
    font-style: italic;
    background-color: aliceblue;
    color:black;
    margin-top:9px;
}
.student_no{
    margin-top:10px;
}








